@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.hidden{display:none;}

nav{background: #00a9f4 !important;}

#admin-main-sidebar{overflow:hidden;}
#admin-main-sidebar:hover{overflow:auto;}

.side-nav{width:auto;}
.side-nav > li{padding:0 20px 0 20px; text-align:center;}
.side-nav > li:hover{background:#eaeaea;}
.side-nav li > a {display:inline;  padding:0;}
.display-on-expanded > a{color:rgba(0, 0, 0, 0.87);}
.display-on-expanded > a > span.link-verbiage{margin-left:10px;}

#topper-logo-holder{height:64px; background: #00a9f4 }