@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

@import "~govicons/css/govicons.min.css";

@import "written-post-show";

.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table; line-height: 0; content: ""; display:block; height:0;}
.clearfix:after {clear: both;}

// GLOBAL REUSABLE
.tags-container{padding-top:10px;}
.tfv-tag{font-size:12px; margin-right:10px; padding:2px 4px 2px 4px; color:white; background:#478bf7; border-radius:3px;}

img.full-width{width:100%;}

html{font-family: Georgia,Times,Times New Roman,serif; }


#site-header-nav{background-color:#000000;}

#title-container h1{font-family: 'Abril Fatface'; font-size:40px;}

//#main-categories-nav ul{display:inline-block; border:1px solid black;}
//#main-categories-nav ul li{float:left; padding:5px;}

#main-categories-nav{background: #e0e0e0; padding:10px;}
#featured-category-wrapper {text-align: center;}
#featured-category-wrapper ul {display: inline-block; margin: 0; padding: 0;
  /* For IE, the outcast */
  zoom:1; *display: inline;
}
#featured-category-wrapper li {float: left; padding: 2px 5px; margin-right:20px;}
#featured-category-wrapper li a{padding:5px 10px 5px 10px; border-radius:3px; color:black;}
#featured-category-wrapper li a:hover{background:#f7f5f5;}

.section-header{font-size:20px; text-align:center; border-bottom:1px solid lightblue; padding-bottom:10px;}

// TABS CONTAINER
.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active{color:black}
.tab-pane-content{padding-top:10px;}

.video-thumbnail {

  &:before {
    position:absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f03d";
    font-family: FontAwesome;
    font-size: 30px;
    color: #fff;
    opacity: 1;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  &:hover:before {
    color: #eee;
  }
}



// CUSTOM INDEX STYLES
.main-featured-container{margin-top:20px;}

.top-ranked-container .card-content{padding:10px; max-height:180px; overflow:hidden;}
.top-ranked-container .card-content .card-title{font-weight:bold;}

.remaining-top-ranked-written-posts-container{border-left:1px solid #d2d4d8; border-right:1px solid #d2d4d8;}
.remaining-top-ranked-written-post{margin:0 0 10px 0;}
.remaining-top-ranked-written-post:not(:last-child){margin:0 0 10px 0; border-bottom:1px solid #d2d4d8;}
.remaining-top-ranked-written-post .card-content{padding:10px;}
.remaining-top-ranked-written-post .card-content .card-title{font-size:16px; font-weight:bold; line-height:1.3em; margin-top:5px; padding:0 10px 0 10px;}

.thumb-left-with-headline-and-author-posts-container > ul > li{margin-bottom:20px;}
.thumb-left-with-headline-and-author-posts-container .external-link-contents{padding-left:20px;}
.thumb-left-with-headline-and-author-posts-container a.external-post-link{color:black; font-weight:bold;}
.thumb-left-with-headline-and-author-posts-container a.external-post-link:hover{text-decoration:underline;}
.thumb-left-with-headline-and-author-posts-container .external-link-source-container{display:block; color:grey; font-size:12px;}

.text-headline-container{margin-bottom:0em;}
.text-headline-container > .card-content{padding:0px 0 5px 0; border-bottom:1px solid grey; margin-bottom:20px;}
.text-headline-container > .card-content > .card-title{font-size:14px; line-height:1.5em; font-weight:bold; margin:0;}
.text-headline-container > .card-content > .text-headline-source{font-size:10px; color:#606266; margin-top:5px;}




